body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


.header{
    grid-column-start: 2;
}


.main-container{
    grid-column-start: 2;
    background-color: red;
}



li{
    list-style: none;
}

h2{
    margin: 0;
    
}

.dashboard-container{
    color: white;
    font-weight: bold;
    display: grid;
    background-color: rgba(25,146,212,255);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.dashboard-1{
    position: relative;
    display: grid;
    
}

.dashboard-2{
    display: grid;
}